body, html{
    height: 100;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #444
}

.intro-left {
    background: url("../images/cheng-feng-psdV2Rl-GvU-unsplash.jpg");
    position: fixed;
    left: 0;
    width: 33.33%;
    height: 100%;
    color: #e9e9e9
}

@media (max-width: 780px) {
    .intro-left {
        height: 50vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
}

.profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

section {
    margin: 5rem;
    font-size: 1.2 rem;
}

.thumbnail {
    width:100%;
    height: 40vh;
    object-fit: cover;
    border: 2rem;
}
